h5(class="m-3" style="color: rgb(115,134,213)") Статистика посещения приложения
div(class="container")
    canvas(id="myChart" height="200")
h5(class="m-3" style="color: rgb(115,134,213)") Статистика обмена баллов на товары 
div(class="container mt-5")
    canvas(id="myCharts" height="200")


script 
    include script/home.js